<h1>Modifier l'équipement</h1>

<%= form_with model: @equipment, url: equipments_path, local: true, html: { multipart: true } do |form| %>
  <% if @equipment.errors.any? %>
    <div class="alert alert-danger">
      <h4>Il y a des erreurs :</h4>
      <ul>
        <% @equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nom de l'équipement" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :category, "Catégorie" %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :price, "Prix" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :photos, "Photos" %>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div>
    <%= form.submit "Mettre à jour l'équipement" %>
  </div>
<% end %>
<%= link_to 'Retour', @equipment %>
