<h1>Modifier l'équipement</h1>

<%= simple_form_for(@equipment) do |f| %>
    <%= f.input :name, label: "Nom de l'équipement" %>

    <%= f.input :description, label: "Description" %>

    <%= f.select :category, ["Accessoire", "Vélo", "Ski", "Surf"], prompt: "Sélectionnez une catégorie", label: "Catégorie" %>

    <%= f.input :price, label: "Prix par jour (€)" %>

    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Ajouter des photos"  %>

  <%= f.submit "Mettre à jour" %>
<% end %>
<%= link_to 'Retour', @equipment %>
