<h1><%= @equipment.name %></h1>
<p>Catégorie : <%= @equipment.category %></p>

<% if @equipment.photos.attached? %>
  <% @equipment.photos.each do |photo| %>
    <%= image_tag photo, width: 300, height: 300 %>
  <% end %>
<% else %>
  <p>Aucune image disponible</p>
<% end %>

<p>Prix : <%= number_to_currency(@equipment.price, unit: "€") %></p>
<p>Description : <%= @equipment.description %></p>

<% if @equipment.user == current_user %>
  <%= link_to 'Modifier', edit_equipment_path(@equipment), class: 'btn btn-warning' %>
  <%= link_to 'Supprimer', @equipment, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet équipement ?' }, class: 'btn btn-danger' %>
<% end %>

<%= link_to "Retour", equipments_path, class: "btn btn-secondary" %>
