<h1><%= @equipment.name %></h1>
<p>Catégorie : <%= @equipment.category %></p>

<% if @equipment.photos.attached? %>
  <% @equipment.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 300, height: 300 %>
  <% end %>
<% else %>
  <p>Aucune image disponible</p>
<% end %>

<p>Prix : <%= number_to_currency(@equipment.price, unit: "€") %></p>
<p>Description : <%= @equipment.description %></p>

<% if @equipment.user == current_user %>
  <%= link_to 'Modifier', edit_equipment_path(@equipment), class: 'btn btn-warning' %>
  <%= button_to 'Supprimer', @equipment, method: :delete, confirm: 'Êtes-vous sûr de vouloir supprimer cet équipement ?' , class: 'btn btn-danger' %>
<% end %>

<%= link_to "Retour", root_path, class: "btn btn-secondary" %>

<h2>Réserver cet équipement</h2>

<%= form_with model: Reservation.new, url: equipment_reservations_path(@equipment), local: true, data: { controller: "flatpickr" } do |form| %>
  <div>
    <%= form.label :start_date, "Date de début" %>
    <%= form.text_field :start_date, data: { flatpickr_target: "startDate" } %>
  </div>

  <div>
    <%= form.label :end_date, "Date de fin" %>
    <%= form.text_field :end_date, data: { flatpickr_target: "endDate" } %>
  </div>

  <%= form.submit "Réserver", class: "btn btn-primary" %>
<% end %>
